
@mixin imageSize($size, $pozition) {
    object-fit: $size;
    object-position: $pozition;
  }
  
  @mixin backgroundSize($size, $pozition, $repeat) { 
    background-size: $size;
    background-repeat: $repeat;
    background-position: $pozition;
  }
  
  @mixin size($width, $height: $width) {
    width: $width;
    height: $height;
  }
  @mixin for_laptop {
    @media (max-width: 1440px) { @content; }
  }
  @mixin for_tablet {
    @media (max-width: 768px) { @content; }
  }
  @mixin for_mobile {
    @media (max-width: 500px) { @content; }
  }
  @mixin for_mobileMedium {
    @media (max-width: 375px) { @content; }
  }
  @mixin for_mobileMini {
    @media (max-width: 320px) { @content; }
  }
  
  
  